<div class="blog-post">    
  <h2 class="blog-post-title"><%= link_to(blog.title.upcase, blog) %></h2>
  <p class="blog-post-meta">Published 
    <%= time_ago_in_words(blog.created_at) %> ago
  </p>

  <%= render(partial: 'blogs/admin_actions', locals: {blog: blog}) %>
  
  <p>
    <%= truncate(blog.body,length: 200, escape: false) %>
    <%= link_to('Continue reading', blog) %>
  </p>  
</div><!-- /.blog-post -->